{
    "QQBot": {
        "host": "Mirai HTTP API 服务地址",
        "port": "Mirai HTTP API 服务端口",
        "verifyKey": "Mirai HTTP API verifyKey",
        "qq": 机器人 QQ 号
    },
    "LiveChecker": {
        "uids": [
            第一个要监控的直播间主播的 UID,
            第二个要监控的直播间主播的 UID（以此类推）
        ],
        "group": 发送消息的 QQ 群群号
    }
}